.form {
  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
}

.form input:not(input[type="submit"]),
select {
  background-color: transparent;
  border: 2px solid var(--white);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--white);
}

.form input::placeholder {
  color: var(--white);
}

.form option {
  color: black;
}

input[type="submit"] {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--primary);
  color: var(--white);
  font-size: 2rem;
}
